.App {
  text-align: center;
  background-color: #282c34;
  /* min-height: 100vh; */
  padding: 20%;
}
.App p{
  margin-top: 5px;
  padding: 0;
  margin-bottom: 0;
}
.App textarea{
  margin-top: 10px;

}

.App input{
  margin-right: 10px;

}

.clipboard-container{
  display: flex;
  justify-content: center;  
}